<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="movies.css">
    <meta charset="utf-8">
  </head>
  <body>
  	<center>
 		
 		<h1>MOVIE LOVERS</h1>

    	<form action='/imdb' method = 'post'>
			<input type='text' name='user_input'placeholder="TYPE"/>
			<input type='submit' name='search' value="SEARCH" />
		</form>


	</center>	
  </body>
<html>
